.card__img {
  width: 100%;
  flex-basis: 100%;
  background-color: $accent-color;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  @media screen and (min-width: 600px) {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0.5rem;
  }

  img {
    mix-blend-mode: multiply;
  }
}

.card__text {
  flex-basis: 100%;
  padding: 2rem 0;
  background-color: $card-background-color;
  text-align: center;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;

  @media screen and (min-width: 600px) {
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.5rem;
  }

  @media screen and (min-width: 600px) {
    display: grid;
    place-items: center;
    text-align: left;
  }

  .card__title {
    font-family: $ff-inter;
    font-weight: 700;

    span {
      color: $accent-color;
    }

    p {
      margin-top: 1.5rem;
      font-family: $ff-inter;
      font-weight: 400;
      color: $font-transparent-white-60;
      line-height: 1.5;

      @media screen and (min-width: 800px) {
        max-width: 80%;
      }
    }
  }
  .stats {
    font-size: 1.5rem;
    margin-top: 2rem;

    :last-child {
      text-transform: uppercase;
    }

    .stat {
      font-family: $ff-inter;
      font-weight: 700;

      span {
        display: block;
        margin-top: 0.5rem;
        text-transform: uppercase;
        font-size: 0.7rem;
        color: $font-transparent-white-60;
        letter-spacing: 0.1rem;
        font-weight: 400;
      }
    }

    .stat + .stat {
      margin-top: 2rem;
    }

    @media screen and (min-width: 600px) {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;

      .stat + .stat {
        margin-top: 0;
      }
    }

    @media screen and (min-width: 800px) {
      max-width: 80%;
    }
  }
}
